@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.loader {
  color: $loader;
  height: 18.2rem;
  width: 100%;
  background-color: $loader;

  @include tablet {
    height: 39.2rem;
  }

  @include desktop {
    height: 55.3rem;
  }
}
