@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;
@use "../../partials/typography" as *;

.comments {
  &__count h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }

  &__form-container {
    display: flex;
    padding-bottom: 2.4rem;
    border-bottom: 0.1rem solid $mercury;
  }

  &__user {
    background-image: url(../../assets/Images/Mohan-muruge.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    border-radius: 50%;
    height: 4.2rem;
    width: 4.2rem;
    margin-right: 1.4rem;
    margin-top: 2rem;

    &__user-container {
    }
  }

  &__comment-area {
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 0.4rem;
    font-weight: 600;
    color: $silver;
  }

  &__textarea {
    resize: none;
    border: 0.2rem solid $mercury;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1.3rem;
    height: 9.3rem;
    background-color: $alabaster;
    margin-bottom: 1.6rem;
    font-family: "avenir";
    outline: none;

    &::placeholder {
      font-family: "avenir";
      color: $darkblack;
      font-weight: 400;
      font-size: 1.45rem;
    }

    &:active,
    &:focus {
      border: $brainflix-blue solid 0.2rem;
      border-radius: 0.5rem;
    }
  }

  &__btn {
    border: none;
    padding: 1.3rem 0;
    background-color: $brainflix-blue;
    color: $white;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.4rem;
    cursor: pointer;
  }

  @include tablet {
    &__count h3 {
      font-size: 1.7rem;
      margin-bottom: 2.2rem;
    }

    &__label-container {
      width: 44rem;
      margin-right: 1.6rem;
    }

    &__form {
      display: flex;
      flex-direction: row;

      &-container {
        padding-bottom: 0.3rem;
      }
    }

    &__textarea {
      height: 4.2rem;
      width: 44rem;
      padding: 1rem 0 1rem 1.3rem;
      margin-bottom: 1.6rem;

      &::placeholder {
        font-weight: 400;
        font-size: 1.3rem;
      }
    }

    &__btn {
      display: flex;
      align-self: center;
      padding: 0 3.6rem;
      font-size: 1.3rem;
      height: 4.2rem;
      border-radius: 0.4rem;
    }
  }

  @include desktop {
    &__btn {
      padding: 0 4rem;
    }

    &__textarea {
      height: 4.4rem;
      width: 47rem;
      margin-top: 0.2rem;
    }

    &__label {
      padding-bottom: 1rem;
    }

    &__label-container {
      width: 47rem;
      margin-right: 1.6rem;
    }
  }
}
