@import "./partials/typography.scss";

// resets

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "avenir", sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 300;
}

main {
  padding: 0 2rem;
}

// links & buttons

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
